<div id='all'>
  <%= render 'common/header' %>
  <div class="main-container" id='main-projects'>
    <section class="page-header short">
      <div class="background-image-holder overlay">
        <%= image_tag('body1.jpg', alt: "Slide Background", class: "background-image") %>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1 class='text-center'>Projects</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="products-1">
      <div class="container">
        <div class="row">
          <% if @projects.present? %>
            <% @projects.each do |project| %>
              <div class="col-md-4 col-sm-6">
                <div class="product">
                  <h5><%= link_to "#{ project.name }", project, remote: true %></h5><br>
                  <%= truncate("#{ project.description }", length: 100) %>
                </div>
              </div>
            <% end %>
          <% else %>
            <h5 class='text-center'><%= 'Create your first project' %></h5>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>