<%= render 'common/header' %>

<div class="main-container" id='main-projects'>
  <section class="contained-projects">
    <div class="container">
      <%= link_to 'new Project', new_project_path, remote: true, class: 'btn btn-sm', id: 'new-project' %>
      <h1 class='text-center'>Projects</h1>
      <!--end of row-->
      <div class="row">
        <% if @projects.present? %>
          <% @projects.each do |project| %>
            <div class="col-md-4 col-sm-6 project" data-filter="web">
              <h2><%= link_to "#{ project.name }", projects_path, remote: true %></h2>
              <span><%= "#{ project.description }" %></span>
              <%= link_to('Edit', edit_project_path(project), remote: true) %><%=' | '%>
              <%= link_to('Remove', project_path(project), method: :delete, data: { confirm: "Are you sure you want to delete '#{project.name}'?" }) %>
            </div>
          <% end %>
        <% else %>
          <h5 class='text-center'><%= 'Are no projects' %></h5>
        <% end %>
      </div><!--end of row-->
    </div><!--end of container-->
  </section>
</div>
