<div id="all">
  <%= render 'common/header' %>
  <div class="main-container">
    <section class="contained-projects">
      <div class="col-sm-8 col-sm-offset-2">
        <h2><%= "#{ @task.name }" %></h2>
        <% if @task.priority == 'low' %>
          <div style="color:green">
        <% elsif @task.priority == 'middle' %>
          <div style="color:orange">
        <% else %>
          <div style="color:red">
        <% end %>
          <%= "#{ @task.priority } priority" %><br>
        </div>
        <ul style="color:#e74c3c"><%= "Deadline: #{ @task.deadline }" if @task.deadline.present? %></ul><br>
        <span><%= "#{ @task.text }" %></span>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <br>
          <% if @task.status == 'new' || @task.status == 'done' %>
            <%= link_to 'Get Task to work', get_task_project_task_path(@project, @task), class: 'bnt btn-sm', remote: true %>
          <% else %>
            <%= link_to 'Done', done_task_project_task_path(@project, @task), class: 'bnt btn-sm', remote: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>