<div id="all">
  <%= render 'common/header' %>
  <div class="main-container">
    <section class="contained-projects">
      <div class="col-sm-8 col-sm-offset-2">
        <% if request[:action] == 'edit' %>
          <h3 class='text-center'>Edit Project</h3>
        <% else %>
          <h3 class='text-center'>New Project</h3>
        <% end %>
        <%= form_for(@project, remote: true) do |p| %>
          <div class="form-md-line-input">
            <div class="form-group">
              <%= p.text_field :name, class: "form-control", placeholder: "Enter project name", required: true %>
              <%= p.text_area :description, class: "form-control", placeholder: "Enter project description", rows: '6', required: true %>
            </div>
            <div class="col-sm-1 col-sm-offset-3 form-group">
              <% if request[:action] == 'new' %>
                <%= p.submit "Create", class: "btn btn-default", type: "submit" %>
              <% else request[:action] == 'edit' %>
                <%= p.submit "Update", class: "btn btn-default", type: "submit" %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="col-sm-offset-3 text-center form-group">
          <% if request[:action] == 'new' %>
            <%= link_to "Cancel", dashboard_index_path, class: "btn btn-default" %>
          <% else request[:action] == 'edit' %>
            <%= link_to "Cancel", @project, class: "btn btn-default", remote: true %>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>