<div id="all">
  <%= render 'common/header' %>
  <div class="main-container">
    <section class="contained-projects">
      <div class="col-sm-8 col-sm-offset-2">
        <h3><%= "#{ @project.name }" %></h3>
        <%= "#{ @project.description }" %>
      </div>
    </section>
    <div class="container">
      <div class="row">
        <div class="product-container">
          <hr>
          <div class="col-md-4 col-sm-6 text-center">
            <h3 class="text-center">New tasks</h3>
            <% if @tasks_new.present? %>
              <% @tasks_new.each do |task| %>
                <div class="product">
                  <h5><%= link_to "#{ task.name }", project_task_path(task, project_id: @project), remote: true %></h5><br>
                  <% if task.priority == 'low' %>
                    <div style="color:green">
                  <% elsif task.priority == 'middle' %>
                    <div style="color:orange">
                  <% else %>
                    <div style="color:red">
                  <% end %>
                    <%= "#{ task.priority } priority" %><br>
                  </div>
                  <% if task.deadline.present? %>
                    <span><%= "Deadline: #{ task.deadline }" %></span>
                  <% end %>
                  <ul><%= "#{ task.text }" %></ul>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-4 col-sm-6 text-center">
            <h3 class="text-center">Progress</h3>
            <% if @progress.present? %>
              <% @progress.each do |task| %>
                <div class="product">
                  <h5><%= link_to "#{ task.name }", project_task_path(task, project_id: @project), remote: true %></h5><br>
                  <% if task.priority == 'low' %>
                    <div style="color:green">
                  <% elsif task.priority == 'middle' %>
                    <div style="color:orange">
                  <% else %>
                    <div style="color:red">
                  <% end %>
                    <%= "#{ task.priority } priority" %><br>
                  </div>
                  <% if task.deadline.present? %>
                    <span><%= "Deadline: #{ task.deadline }" %></span>
                  <% end %>
                  <ul><%= "#{ task.text }" %></ul>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-4 col-sm-6 text-center">
            <h3 class="text-center">Done</h3>
            <% if @done.present? %>
              <% @done.each do |task| %>
                <div class="product">
                  <h5><%= link_to "#{ task.name }", project_task_path(task, project_id: @project), remote: true %></h5><br>
                  <% if task.priority == 'low' %>
                    <div style="color:green">
                  <% elsif task.priority == 'middle' %>
                    <div style="color:orange">
                  <% else %>
                    <div style="color:red">
                  <% end %>
                    <%= "#{ task.priority } priority" %><br>
                  </div>
                  <% if task.deadline.present? %>
                    <span><%= "Deadline: #{ task.deadline }" %></span>
                  <% end %>
                  <ul><%= "#{ task.text }" %></ul>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>