<div class="nav-container">
  <nav class="nav-1">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="menu">
            <a href="/" class="home-link">
              <%= image_tag('tm-logo.png', class: "logo" ) %>
            </a>
            <% unless request[:controller] == 'home' %>
              <li><%= link_to "Dashboard", dashboard_index_path %></li>
              <% if request[:controller] == 'dashboard' %>
                <li><%= link_to 'create Project', new_project_path, remote: true %></li>
              <% elsif request[:controller] == 'projects' && request[:action] == 'show' %>
                <li><%= link_to "Edit: '#{ @project.name }'", edit_project_path(@project), remote: true  %></li>
                <li><%= link_to "Remove: '#{ @project.name }'", project_path(@project), method: :delete,
                                            data: { confirm: "Are you sure you want to delete PROJECT: '#{@project.name}'?" } %></li>
                <li><%= link_to "New Task", new_project_task_path(@project), remote: true  %></li>
              <% elsif request[:controller] == 'projects' && request[:action] == 'create' %>
                <li><%= link_to "Edit: '#{ @project.name }'", edit_project_path(@project), remote: true  %></li>
                <li><%= link_to "Remove: '#{ @project.name }'", project_path(@project), method: :delete,
                                            data: { confirm: "Are you sure you want to delete PROJECT: '#{@project.name}'?" } %></li>
                <li><%= link_to "New Task", new_project_task_path(@project), remote: true  %></li>
              <% elsif request[:controller] == 'projects' && request[:action] == 'update' %>
                <li><%= link_to "Edit: '#{ @project.name }'", edit_project_path(@project), remote: true  %></li>
                <li><%= link_to "Remove: '#{ @project.name }'", project_path(@project), method: :delete,
                                            data: { confirm: "Are you sure you want to delete PROJECT: '#{@project.name}'?" } %></li>
                <li><%= link_to "New Task", new_project_task_path(@project), remote: true  %></li>
              <% elsif request[:controller] == 'tasks' && request[:action] == 'show' %>
                <li><%= link_to "Current project", project_path(@project), remote: true  %></li>
                <li><%= link_to "Edit: '#{ @task.name }'", edit_project_task_path(@project, @task), remote: true  %></li>
                <li><%= link_to "Remove: '#{ @task.name }'", project_task_path(@project, @task), method: :delete,
                                            data: { confirm: "Are you sure you want to delete TASK: '#{@task.name}'?" }, remote: true %></li>
              <% elsif request[:controller] == 'tasks' && request[:action] == 'create' %>
                <li><%= link_to "Edit: '#{ @project.name }'", edit_project_path(@project), remote: true  %></li>
                <li><%= link_to "Remove: '#{ @project.name }'", project_path(@project), method: :delete,
                                            data: { confirm: "Are you sure you want to delete PROJECT: '#{@project.name}'?" } %></li>
                <li><%= link_to "New Task", new_project_task_path(@project), remote: true  %></li>
              <% elsif request[:controller] == 'tasks' && request[:action] == 'update' %>
                <li><%= link_to "Current project", project_path(@project), remote: true  %></li>
                <li><%= link_to "Edit: '#{ @task.name }'", edit_project_task_path(@project, @task), remote: true  %></li>
                <li><%= link_to "Remove: '#{ @task.name }'", project_task_path(@project, @task), method: :delete,
                                            data: { confirm: "Are you sure you want to delete TASK: '#{@task.name}'?" }, remote: true %></li>
              <% elsif request[:controller] == 'tasks' && request[:action] == 'destroy' %>
                <li><%= link_to "Edit: '#{ @project.name }'", edit_project_path(@project), remote: true  %></li>
                <li><%= link_to "Remove: '#{ @project.name }'", project_path(@project), method: :delete,
                                            data: { confirm: "Are you sure you want to delete PROJECT: '#{@project.name}'?" } %></li>
                <li><%= link_to "New Task", new_project_task_path(@project), remote: true  %></li>
              <% elsif request[:controller] == 'tasks' && request[:action] == 'get_task' %>
                <li><%= link_to "Edit: '#{ @project.name }'", edit_project_path(@project), remote: true  %></li>
                <li><%= link_to "Remove: '#{ @project.name }'", project_path(@project), method: :delete,
                                            data: { confirm: "Are you sure you want to delete PROJECT: '#{@project.name}'?" } %></li>
                <li><%= link_to "New Task", new_project_task_path(@project), remote: true  %></li>
                <% elsif request[:controller] == 'tasks' && request[:action] == 'done_task' %>
                <li><%= link_to "Edit: '#{ @project.name }'", edit_project_path(@project), remote: true  %></li>
                <li><%= link_to "Remove: '#{ @project.name }'", project_path(@project), method: :delete,
                                            data: { confirm: "Are you sure you want to delete PROJECT: '#{@project.name}'?" } %></li>
                <li><%= link_to "New Task", new_project_task_path(@project), remote: true  %></li>
              <% end %>
            <% end %>
          </ul>
          <ul class="social-links">
            <% if current_user %>
              <li style="color:#e74c3c"><b><%= current_user.email %></b></li>
              <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to 'Log In', new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div><!--end of row-->
    </div><!--end of container-->
  </nav>
</div>